.banner-waves {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $primary;
    height: 350px;
    width: 100%;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    @include media-breakpoint-up(3xl) {
        height: 550px;
    }
}